.header {
	display: flex;
	background-color: #bca2be;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.topnav a.icon {
	top: 5px;
}

/* Profile Card Styles */
.profile-card {
	display: flex;
	gap: 4px;
	align-items: center;
}

.avatar .brand-logo{
	width: 50px;
	height: 50px;
	background-color: #d3d3d3;
	border-radius: 50%;
	border: 1px solid #541059;
	position: relative;
}
.text-content {
	font-size: smaller;
}
.avatar .status-indicator {
width: 12px;
    height: 12px;
    background-color: #00ff00;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    right: 165px;
    border: 2px solid #92759a;
}
/* smaller devices */
@media screen and (max-width: 600px) {
.topnav a.icon {
	display: none;
}
.avatar .status-indicator {
        position: absolute;
        top: 69px;
        right: 125px;
}
}
