{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







/* send inquiry */

.send-inquiry form{
  margin: 1em 3em 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.send-inquiry label{
  margin-bottom: .5em;
}
.send-inquiry input{
  border: 5px solid #BCA2BE;
  border-radius: 5px;
  height: 4em;
  margin-bottom: 1em;
}
#message {
  height: 7em;
}
#submit-btn{
margin-top: 5em;
background-color: #541059;
color: #D9D9D9;
border: none;
}
/* footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#brand-logo{
  border: 1px solid #541059;
  height: 20px;
}
.fa-instagram,.fa-tiktok,.fa-facebook-f{
  padding: .5em .5em;
}
hr{
  border: 1px solid #541059;
  margin: 1em 0 .5em;
}
