*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;  
}
body{
  color: #000000;
}

/* START OF NAVIGATION STYLE */
.dropdown,.action-nav-btns{
  display: none;
}
nav{
  background-color: #BCA2BE;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
align-items: center;
}

        /* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  background-color: #BCA2BE;
  padding: 14px 16px;
  font-family: inherit; /* For vertical align on mobile phones */
  margin: 0; /* For vertical align on mobile phones */
   animation: nav-icon 2s ease 0s infinite normal forwards;
}
.fa-caret-down{
  color: #00000099;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #541059;
  border-radius: 20px;
}

/* Dropdown content hidden by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #BCA2BE;
  min-width: 160px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Grey background color on dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* sidebar menu */
.topnav #myLinks {
  position: fixed;
  left: -250px;   /* hide it off-screen initially */
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #5D1263;
  overflow-x: hidden;
  transition: 0.3s ease; /* smooth sliding */
  padding-top: 6px;
  z-index: 2000;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
 position: absolute;
    z-index: 1000;
    animation: nav-icon 2s ease 0s infinite normal forwards;
}
.fa-arrow-left, .fa-xmark{
background-color: #54105970;
color: black;
border-radius: 50%;
padding: .5em;
  font-size: 1em;
}
.fa-xmark{
background-color: white;
}
#logo{
 background-color: white;
    padding: .5em;
    color: black;
    font-size: 1em;
    margin-right: 1em;
    border-radius: 20px;
    text-decoration: none;
    position: relative;
     z-index: 2000;
}
.fa-star{
  padding-right: .5em;
  font-size: 1 em;
}
.home{
 font-size: 1.2em;
    text-decoration: none;
    position: relative;
  z-index: 2000;
  color: black;
}

/* SIDENAV FOR MOBILE */
/* Styles sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-container a{
color: black;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: white;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Adds active class to the active dropdown button */
.active {
  background-color: #BCA2BE;
  color: black;
}


.dropdown-container {
  display: none;
  background-color: #BCA2BE;
  padding-left: 8px;
}

/* Caret down icon */ 
.sidenav .fa-caret-down {
  color: white;
  float: right;
  padding-right: 8px;
}

/* END OF NAVIGATION STYLE */


header{
  background-image: url(/images/img1.jpg);
  background-color: #CFC5C5;
  height: 20em;
  background-size: cover;
 border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header h1{
  margin-top: 2em;
  color: white;
}
select{
  padding: .4em;
  background-color: #EAE5ED;
  border-radius: 5px;
}
.fa-magnifying-glass{
  background-color: #54105999;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: .5em;
  color: white;
}
input[type=search]{
   padding: .4em;
  background-color: #EAE5ED;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.dropdnMenu{
  margin: 1em -.5em -1em;
  display: flex;
      align-items: flex-end;
      gap: .3em;
}
.dropdnMenu-search{
display: flex;
align-items: center
}
#categories-label, #search-label{
  border: 1px solid blue;
  padding: 0.3em;
  background-color: #D9D9D9;
}
/* vendor section */
.vendors-section{
  margin: 2em;
}
#catego{
  padding: .5em;
   background-color: #EAE5ED;
   color: black;
}
.vendors-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: center;
}
 /* Vendor Cards */
        .vendor-grid {
          margin-top: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1.5rem;
        }

        .vendor-card {
            background-color: #E2BEE5;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            position: relative;
        }
       .vendor-card:nth-child(odd){

            animation: cards 10s ease-out 0s 5 normal forwards;
       }
       .vendor-card:nth-child(even){

            animation: cards2 10s ease-out 0s 3 normal forwards;
       }
        .vendor-card .image-container {
            position: relative;
            width: 100%;
  height: 300px; 
        }

        .vendor-card .image-container img {
         width: 100%;
  height: 100%;
  object-fit: cover;  /* this crops the image neatly */

        }
      .badge-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px; /* so it stretches full width */
}

        .vendor-card .badge,  .badge-container p {
            background-color: #E2BEE5;
            color: black;
            padding: 0.25rem 0.5rem;
            border-radius: 2px;
            font-size: 0.8rem;
        }
         .badge-container p{
background-color: white;
         }
         
        .vendor-card .brand-logo {
            position: absolute;
            bottom: -20px;
            left: 15px;
            width: 40px;
            height: 40px;
            background-color: #ccc;
            border-radius: 50%;
            border: 2px solid white;
        }

        .vendor-card-content {
            padding: 2rem 1rem 1rem;
        }

        .vendor-card-content h3 {
            margin: 0 0 0.25rem;
            font-size: 1.2rem;
            color: var(--dark-purple);
        }

        .vendor-card-content p {
            margin: 0 0 0.5rem;
            font-size: 0.9rem;
            color: #666;
        }
        
        .vendor-card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.9rem;
            padding: 0 1rem 1rem;
        }
        
        .vendor-card-footer .location-container,
        .vendor-card-footer .reviews {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            flex-direction: column;
        }
        .vendor-card-footer .location-container{
          align-items: flex-start
        }
        
        .vendor-card-footer .reviews .stars {
            color: var(--star-color);
        }

        .vendor-card-footer-buttons {
           padding: 0 1rem .5rem;
        }
        
        .vendor-card-footer-buttons button {
            background-color: var(--button-purple);
            color: black;
            border: 1px solid #541059;
            padding: 0.5rem 0.75rem;
            border-radius: 10px;
            cursor: pointer;
            font-size: 0.8rem;
      
        }
        .vendor-card-footer-buttons .book-service{
          margin-left: 0.5rem;
          background-color: #541059;
          color: white;
        }
        
        .vendor-card-footer-buttons button:hover {
            opacity: 0.9;
        }


footer{
   background-image: linear-gradient(to right, rgba(84, 16, 89, 0.3), rgba(84, 16, 89, 0.9)), url(/images/footer.png);
        background-position: bottom;
   padding: 1rem;
   height: 300px;
  color: black;
    text-align: center;
}
.footer-h4{
  margin-top: 1rem;
}
.footer-container{
  display: flex;
  align-items: center;
    justify-content: space-around;
    margin: 2rem 0 5rem;
}
.quick-links{
  display: flex;
  flex-direction: column;
}
.quick-links a{
  color: black;
}
footer .endnote{

    color: #3A3A3A;
}

/* larger devices */
@media screen and (min-width: 760px) {
.dropdown,.action-nav-btns{
  display: block;
}
.topnav{
  display: none;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
 
}
.desktop-nav-main{
  display: flex;
  align-items: center;
}
nav ul{
  color: red;
}
.home{
 font-size: 1em;
}
.action-nav-btns button{
  border: 1px solid #541059;
  background-color: #BCA2BE;
  padding: 1em;
  border-radius: 5px;

}
.action-nav-btns a{

  text-decoration: none;
  color: white;
}
#signup-btn{
background-color: #541059;
}

.quick-links{
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: .5rem;
}
  }
  /* smallest devices */
  @media screen and (max-width: 400px) {
.dropdnMenu {
      flex-direction: column;
      align-items: flex-start;
}
  }

  /* ANIMATIONS */
  @keyframes nav-icon {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes cards {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
@keyframes cards2 {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}